version: '3.8'

services:
  blog:
    image: node:20-slim
    working_dir: /app
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev -- --host

volumes:
  node_modules:
